.page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}

.rightcolumn{
    margin-right: 2%;
    justify-self: end;

    
}

.input{
    justify-self: flex-end;
}